<div class="dashboard-container">
  <app-panel-proyectos [integranteId]="integrante_id" [username]="username"
    (selectedProyectoEventEmitter)="onSelectProyect($event)"
    (onDeleteProyectEventEmitter)="onDeleteProyect($event)"></app-panel-proyectos>

  <div class="panel-integrantes--main-dashboard-panel">
    <app-panel-integrantes [username] = "username"></app-panel-integrantes>
    <app-main-dashboard-panel></app-main-dashboard-panel>
    <footer class="main-footer">
      <span>© 2025 Gestor de Tareas Melbar</span>
    </footer>
  </div>
</div>